.Filter {
  margin-block: 2rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
}

.Filter_box {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #222222;
  padding: 1rem;
  border-radius: 0.5rem;
}

.Filter_box input {
  width: 100%;
  background-color: #222222;
  outline: none;
  border: 0;
  color: #fff;
}

.filter {
  position: relative;
  padding: 1rem 0;
  background-color: #222222;
  border-radius: 0.5rem;
  cursor: pointer;
}

.filter_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.filter_box {
  position: absolute;
  width: 85%;
  background-color: #222222;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-top: 2rem;
  z-index: 11111;
}

.filter_box p {
  cursor: pointer;
}

@media (max-width: 800px) {
  .Filter {
    grid-template-columns: 2fr 1fr;
  }
}

@media (max-width: 600px) {
  .Filter {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
}

@media (max-width: 400px) {
  .Filter {
    gap: 0.5rem;
    grid-template-columns: 1fr;
  }
}
